<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
	<tr valign="top">
		<table cellpadding="0" cellspacing="0" border="0" align="center">
			<tr>
				<td width="200" valign="top">
					<img class="image_fix" src="public/email/maps.jpg" alt="Logo" title="logo">
					</td>
			</tr>
			<tr>
				<td width="200" valign="top">
					<p>Thank you for making an order, {{cart.billing.name}}</p>
					<p>Order number: {{car.number}}</p>
					</td>
			</tr>
			<tr>
				<td width="200" valign="top">
					If you have any problems, dont' hesitate to contact us at <span class="mobile_link">555-555-0213</span>.
					</td>
			</tr>
		</table>
	</tr>
</table>