{{#section 'head'}}
	<meta name="robots" context="noindex" />
{{/section}}

<div class="error">
	<h1>404 - Ops, Resource is not found</h1>
	<h2>please, get back later again</h2>
	
	<p>quote of the day:</p>
	<blockquote>{{fortune}}</blockquote>
</div>
