{{#section 'head'}}
	<meta name="robots" context="noindex" />
{{/section}}

<h1>Test page</h1>
<p>Testing jquery library</p>

{{#section 'jquery'}}
	<script src="//code.jquery.com/jquery-2.0.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$('document').ready(function() {
			$('h1').html('JQuery is working');
		});
	</script>
{{/section}}