<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Cartograph</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta charset="UTF-8" />
        <meta name="description" content="Cartograph REST API" />
        <meta name="keywords" content="Cartograph,REST,API" />
        <meta name="author" content="Alexander R." />
        <meta name="theme-color" content="#000000" />
        <meta name="copyright" content="Alexander R." />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#000000" />
        <meta name="apple-mobile-web-app-title" content="Cartograph REST API" />
        <meta name="msapplication-TileImage" content="/images/icons/144x144.png" />
        <meta name="msapplication-TileColor" content="#000000" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="/css/reset.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="/css/styles.css" type="text/css" charset="utf-8" />

        {{{_sections.head}}}
		
        <link rel="shortcut icon" sizes="16x16" type="image/x-icon" href="/images/icons/favicon_16x16.ico" />
        <link rel="shortcut icon" sizes="24x24" type="image/x-icon" href="/images/icons/favicon_24x24.ico" />
        <link rel="shortcut icon" sizes="32x32" type="image/x-icon" href="/images/icons/favicon_32x32.ico" />
        <link rel="shortcut icon" sizes="64x64" type="image/x-icon" href="/images/icons/favicon_64x64.ico" />
    </head>
<!--  header -->